@charset "utf-8";
* { box-sizing: border-box; }


.bodybox {
	font-family: Verdana;
	text-align: center;
	color: black;
	border: solid #FF0004;
	margin-left: 30px;
	margin-right: 30px;
	background-color: rgba(255,255,255,1.00);
}

.bodyboxnoborder {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans serif";
	text-align: center;
	text-transform: uppercase;
	color: black;
	margin-left: 30px;
	margin-right: 30px;
	background-color: rgba(255,255,255,1.00);
}

ul {
	background-color: white;
	padding: 0;
	color: red;
	/*font-weight: 700;*/
	font-size: 150%;
}

a {
	padding: 20px;
	display: inline-block;
	color: white;
	text-transform: uppercase;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; 
}

nav > ul > li > a {
	color: black;
}

nav > ul > li > a:hover {
	color: red;
	text-decoration: none;
}

nav > ul > li {
	display: inline-block;
}

/*nav > ul > li > ul {
	background-color: rgba(0,44,153,1.00);
	list-style: none;
	padding: 0;
	position: absolute;
}*/

/*nav > ul > li:hover {
  background-color: rgba(241,241,241,1.00);
  z-index: 100;
}*/

/*nav > ul > li > ul > li:hover {
	background-color: rgba(22,89,255,1.00);
	z-index: 100;
}*/
nav > ul > li > ul {
	display: none
}
nav > ul > li:hover > ul {
	display: block;
	z-index: 100;
}

.nowshowing {
	border: solid #c2091a;
	color: white;
	background-color: #c2091a;
	text-align: center;
	text-transform: uppercase;
	
	margin-top: -20px;
	margin-left: 600px;
	margin-right: 600px;
}
.nowshowing > h2 {
	
	margin-top: 10px;
}

.selectyourmovie {
	border: solid #c2091a;
	color: white;
	background-color: #c2091a;
	text-align: center;
	text-transform: uppercase;
	
	margin-top: -20px;
	margin-left: 596px;
	margin-right: 596px;
}
.selectyourmovie > h2 {
	
	margin-top: 10px;
}

.nstrailers {
	text-align: center;
}

.bottomnav > nav > ul {
	background-color: #c2091a;
	padding: 0;
	color: red;
	text-align: center;
	font-size: 100%
  
}

.bottomnav > nav > ul > li > a {
	padding: 20px;
	display: inline-block;
	color: white;
	text-transform: uppercase;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; 
}

.bottomnav > nav > ul > li > a {
	color: white;
}

.bottomnav > nav > ul > li > a:hover {
	color: white;
	text-decoration: underline;
}

.bottomnav > nav > ul > li {
	display: inline-block;
}

.upperimage {
	text-align: center;
	width: 100%;
}

.synopsis {
	text-align: left;
	margin-left: 60px;
	margin-right: 800px;
}

.undersynopsis {
	text-align: left;
	margin-left: 60px;
	margin-right: 800px;
	font-weight: bold;
}

.classification {
	text-align: left;
	margin-left: 0px;
	margin-right: 800px;
	width: 25%;
}

.mifselect {
	position: absolute;
	transform: scale(0.5,0.5);
	margin-left: -290px;
	margin-top: -150px;
}

.antwaspselect {
	position: absolute;
	transform: scale(0.5,0.5);
	margin-left: -290px;
	margin-top: 400px;
}

.eq2select {
	position: absolute;
	transform: scale(0.5,0.5);
	margin-left: -290px;
	margin-top: 950px;
}

.movieinfobutton1 {
	position: absolute;
	transform: scale(0.5,0.5);
	margin-top: 401px;
	margin-left: 121px;
	opacity: 0;
}

.movieinfobutton2 {
	position: absolute;
	transform: scale(0.5,0.5);
	margin-top: 952px;
	margin-left: 122px;
	opacity: 0;
}

.movieinfobutton3 {
	position: absolute;
	transform: scale(0.5,0.5);
	margin-top: 1502px;
	margin-left: 121px;
	opacity: 0;
}

.timeselectbutton1 {
	position: absolute;
	transform: scale(0.42,0.4);
	margin-top: 147px;
	margin-left: 377px;
	opacity: 0;
}

.timeselectbutton2 {
	position: absolute;
	transform: scale(0.42,0.4);
	margin-top: 147px;
	margin-left: 493px;
	opacity: 0;
}

.timeselectbutton3 {
	position: absolute;
	transform: scale(0.42,0.4);
	margin-top: 147px;
	margin-left: 609px;
	opacity: 0;
}

.timeselectbutton4 {
	position: absolute;
	transform: scale(0.42,0.4);
	margin-top: 147px;
	margin-left: 725px;
	opacity: 0;
}

.timeselectbutton5 {
	position: absolute;
	transform: scale(0.42,0.4);
	margin-top: 147px;
	margin-left: 841px;
	opacity: 0;
}